
body {
  background: #4ABDAC;
  font-family: 'Cormorant', serif;
}

.globe {
  margin-top: 10px;
}

 a {
   text-decoration: none;
   color:inherit;
 }

.puzzle {
  margin-top: 50px;
}

/*.click {
  font-family: 'Cormorant', serif;
  color: #FFFFFF;
  font-size: 1.4rem;
}*/

form{
	padding: 0;
  margin-top: 50px;
}

 input.search-text {
 	color: #857e76;
 	position:relative;
 	z-index:5;
 	transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
 	height: 55px;
 	width: 300px;
 	margin: 0;
 	padding: 5px 0 5px 60px;
 	box-sizing: border-box;
 	font-size: 1.6px;
 	font-size: 1.6rem;
 	cursor: pointer;
 	border-radius: 40px;
 	border: 6px solid transparent;
 	background: url(search.svg) no-repeat center transparent;
  background-size:300px;
}

 input.search-text:focus {
 	z-index:3;
 	width: 300px;
 	border: 3px solid #F7B733;
 	background-color: rgba(255, 255, 255, 1);
 	outline: none;
 	cursor:auto;
 	padding-right: 10px;
  padding-left: 75px;
 }

 input.search-submit {
 	position: relative;
 	z-index: 4;
 	top:25px;
 	left: 49px;
 	width: 75px;
 	height: 45px;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	border-radius: 40px;
 	cursor: pointer;
 	background: none;
 }

 input.search-text::-webkit-search-cancel-button {
 	cursor:pointer;
 }
